body {
    background-color: red;
    font-family: Arial, sans-serif;
    text-align: center;
    color: white;
}

#tiket {
    background-color: white;
    color: black;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#brojevi div {
    width: 40px; /* Fiksna širina */
    height: 40px; /* Fiksna visina */
    line-height: 40px; /* Centriranje teksta vertikalno */
    display: inline-flex;
    justify-content: center; /* Centriranje teksta horizontalno */
    align-items: center;
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 5px; /* Opcionalno, zaobljeni uglovi */
    font-size: 16px; /* Opcionalno, prilagođavanje veličine fonta */
}

#brojevi .selected {
    background-color: yellow;
}

#izvlacenje div {
    display: inline-block;
    margin: 5px;
    padding: 20px;
    background-color: green;
    border-radius: 50%;
}

button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: darkblue;
}

#novaIgra {
    display: none;
    margin: 20px auto;
    width: 150px;
}

#izvlacenje div {
    width: 40px;
    height: 40px;
    line-height: 40px; /* Ovo centriruje tekst vertikalno */
    display: inline-flex;
    justify-content: center;
    align-items: center;
    /* Ostatak stila ostaje isti */
}
.logo-container {
    text-align: center;
    padding: 20px;
}

.logo-container img {
    max-width: 100%;
    height: auto;
}

